src/main/resources/JsonJaxbFiles/XmlInputXSD.xsd

<?xml version = "1.0"?>

<xs:schema xmlns:xs = "http://www.w3.org/2001/XMLSchema">
    <xs:element name = 'InputParamJaxb'>
        <xs:complexType>
            <xs:sequence>
                <xs:element name = "pathToFile" type = "xs:string"/>
                <xs:element name = "pathToDir" type = "xs:string"/>
            </xs:sequence>
            <xs:attribute name = 'nameOfEncryption' type = 'xs:string'/>
        </xs:complexType>
    </xs:element>
</xs:schema>